body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f728ff+18,7db9e8+100 */
background: #f728ff; /* Old browsers */
background: -moz-linear-gradient(top, #f728ff 18%, #7db9e8 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f728ff 18%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f728ff 18%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f728ff', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.photo {
  transition: all .5s ease-in-out;
}
.photo:hover {
transform: scale(1.3);
}

.querysubmit {
  margin-top: 5%;
}

.threecontainer {
  padding: 0px;
  margin: 0px;
  height:1000px;
  width:1000px;
}
